<!-- <h1>List Of Courses</h1> -->

<input type="text" (keyup.enter)="add(data)" #data> 

<!-- <ul>
  <li *ngFor="let course of courses | async">
    {{course.key}} {{course}}
  </li>
</ul> -->

<h1>List Of Clients</h1>
<ul>
  <li *ngFor="let client of clients | async">
    {{client.key}} -
     {{client.firstName}} -
     {{client.lastName}} -
     {{client.email}} -
     <button class="btn btn-priary" (click)="update(client.key,data.value)">
      update
     </button>
     <button (click)="delete(client.key)">Delete</button>
      
  </li>
</ul>